@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Aluno"]</p>
<p>@ViewData["email"]</p>


<adreess>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/sanzio-wesley-55aa6333/">Sanzio Wesley</a>
</adreess> 